

.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  /* max-width: 1140px; */
  width: 100%;
  margin: auto;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  margin-left: 20px;
  /* flex-basis: calc(33.33% - 20px);  */
  /* min-width: 300px; */
  width: 400px;
}

.project-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project-title {
  color: #fff;
  padding: 1rem 0;
}

.project-details {
  padding-bottom: 1rem;
  font-size: 1.1 rem;
  text-align: justify;
}

.pro-btns {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
}

.pro-btns .pro-btn {
  padding: 12px 32px;
  border: 1px solid #fff;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
  .project container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
